.social-network__list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  margin: 10px 0;
  padding: 0;
  max-width: 112px;
  list-style-type: none;

  @include vp-1023 {
    gap: 16px;
    margin: 5px 0 0;
  }
}

.social-network__link {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.social-network svg {
  @include vp-1023 {
    width: 17px;
    height: 17px;
  }
}
